<head>
	<title>{{ site.title }}</title>
	
	<!-- Metadata -->
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="en-ca" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Innovate Trent" />
	<meta name="description" content="Welcome to Innovate Trent!">
	<meta name="twitter:title" content="Innovate Trent">
	<meta property="og:description" content="Innovate Trent is a group of students at Trent University in Peterborough, Ontario, dedicated to making cool stuff!">
        <meta property="og:title" content="Innovate Trent">
	
	<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />

	<script src="https://kit.fontawesome.com/b04844bcb1.js" crossorigin="anonymous"></script>

	<link rel="shortcut icon" type="image/png" href="../favicon.ico">
</head>
